#{extends 'main.html' /}
#{set title:'Home' /}

*{**** Display the user name ****}*
*{#{welcome /}}*

<div class="hero-unit">
        <!--<h1>Hello!</h1>-->
        <h1>driplight /drɪp·lʌɪt/-</h1> <h3 align="left">social testing service</h3>
        <p>Welome to driplight, open source social testing service designer for everybody. It does not matter 
        whether you are individual developer or you work in team.  
        </p>
        <div align="center">
        <p><a class="btn btn-primary btn-large">I am an individual developer</a>
        <a class="btn btn-primary btn-large">I work in team</a></p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Easy to use</h2>
          <p>Driplight is designer for effortless development. Only one thing you need to make a small change in your version control.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Gamification</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>