#{extends 'main.html' /}
#{set title:'Home' /}

*{**** Display the user name ****}*
*{#{welcome /}}*
<!--
<div class="hero-unit">

        <h1>driplight /drɪp·lʌɪt/-</h1> <h3 align="left">social testing service</h3>
        <p>Welome to driplight, open source social testing service designer for everybody. It does not matter 
        whether you are individual developer or you work in team.  
        </p>
        <div align="center">
        <p><a class="btn btn-primary btn-large" href="/register">I am an individual developer</a>
        <a class="btn btn-primary btn-large"  href="/register">I work in team</a></p>
        </div>
      </div>-->

<div class="hero-unit">
<h2>Sign up as an individual developer</h2>
<hr/>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls"><input type="text" id="inputName" placeholder="Name"></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls"><input type="text" id="inputEmail" placeholder="Email"></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls"><input type="password" id="inputPassword" placeholder="Password"></div>
  </div>
 <div class="control-group">
    <div class="controls">
 <!--      <label class="checkbox"><input type="checkbox"> Remember me</label> -->
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div>
</form>
</div>
      <!-- Example row of columns -->
      
